@media screen and (min-width: 315px) and (max-width: 599px) {
  html {
    body {
      .dropdown {
        &.is-open {
          .dropdown-menu {
            position: relative;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 1px solid #e3e6e8;
            li {
              a {
                text-transform: capitalize;
                padding-left: 50px;
                background-color: #f3f5f9;
              }
            }
          }
        }
      }
      header {
        padding: 15px 0;
        .top-header {
          display: none;
        }
        .cta-col {
          display: none;
        }
        .navbar-grid {
          padding: 0 16px;
          display: flex;
          justify-content: space-between;
        }
        .primary-menu {
          top: calc(100% + 0px);
          width: 90%;
          margin: 0 auto;
          gap: 0;
          padding: 0;
          li {
            margin: 0;
            a {
              color: #000000 !important;
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding: 15px 30px;
              border-bottom: 1px solid #e3e6e8;
              img {
                filter: invert(1);
                opacity: 0.5;
              }
            }
          }
        }
      }
      section {
        padding: 50px 10px;
        &.inner-banner {
          h1 {
            width: 95%;
          }
        }
        .meta-title {
          text-align: center;
          font-size: 18px;
        }
        .section-title {
          text-align: center;
          font-size: 25px;
        }
        p {
          font-size: 18px;
          line-height: 35px;
          text-align: justify;
          text-align-last: center;
        }
        .yacht-list-wrapper {
          margin-top: 30px;
          .yacht-card {
            padding: 0px;
            display: inline-block;
            width: 100%;
            overflow: hidden;
            .yacht-image {
              width: 100%;
              height: 25vh;
              margin-right: 15px;
              object-position: center;
            }
            .yacht-details {
              padding: 20px;
              .yacht-name {
                margin-top: 0;
              }
              .specifications {
                .specific-item {
                  flex-direction: column;
                  gap: 15px;
                  .specific-item {
                    img {
                      margin-bottom: 15px;
                      margin-right: 0;
                    }
                  }
                }
              }
            }
            .card-footer {
              padding: 20px;
              .button-wrap {
                button {
                  padding: 15px 20px;
                }
              }
            }
          }
        }
      }
      .slide-panel__content {
        width: 100vw;
      }
      .slide-panel__close {
        top: 30px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      .slide-panel {
        .yacht-details {
          padding: 30px 20px;
          .details-content {
            .specifications {
              flex-direction: column;
              padding: 0;
              .specific-item {
                justify-content: flex-start;
                padding: 20px;
                &:after {
                  width: 100%;
                  height: 1px;
                  background-color: #e3e6e8;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                }
              }
            }
          }
          .details-header {
            .price {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-top: 1px solid #e3e6e8;
              border-bottom: 1px solid #e3e6e8;
              padding: 15px 0;
              margin: 15px 0 0;
              h3 {
                text-align: left;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 820px) {
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
}
