@media screen and (min-width: 315px) and (max-width: 599px) {
  html {
    body {
      .dropdown {
        &.is-open {
          .dropdown-menu {
            position: relative;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 1px solid #e3e6e8;
            li {
              a {
                text-transform: capitalize;
                padding-left: 50px;
              }
            }
          }
        }
      }
      header {
        padding: 15px 0;
        .top-header {
          display: none;
        }
        .cta-col {
          display: none;
        }
        .navbar-grid {
          padding: 0 16px;
          display: flex;
          justify-content: space-between;
        }
        .primary-menu {
          top: calc(100% + 0px);
          width: 90%;
          margin: 0 auto;
          gap: 0;
          padding: 0;
          li {
            margin: 0;
            a {
              color: #000000 !important;
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding: 15px 30px;
              border-bottom: 1px solid #e3e6e8;
              img {
                filter: invert(1);
                opacity: 0.5;
              }
            }
          }
        }
      }
      section {
        padding: 50px 10px;
        &.inner-banner {
          h1 {
            width: 95%;
          }
        }
        .meta-title {
          text-align: center;
          font-size: 18px;
        }
        .section-title {
          text-align: center;
          font-size: 25px;
        }
        p {
          font-size: 18px;
          line-height: 35px;
          text-align: justify;
          text-align-last: center;
        }
        .yacht-list-wrapper {
          margin-top: 30px;
          .yacht-card {
            padding: 10px;
            display: inline-block;
            width: 100%;
            .yacht-image{
                width: 100px;
                height: 100px;
                margin-right: 15px;
                float: left;
                .location{
                    display: none;
                }
            }
            .yacht-details{
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 820px) {
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
}
