@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
html {
  overflow-x: hidden !important;
  body {
    font-family: "Mona Sans", sans-serif;
    overflow-x: hidden !important;
    .container {
      max-width: 1600px;
    }
    a {
      text-decoration: none !important;
    }
    .btn {
      background-color: #ffffff;
      padding: 20px 50px;
      color: #000000;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 50px;
      transition: all ease 0.5s;
      &:hover {
        background-color: #7fbbc5 !important;
        color: #ffffff !important;
      }
    }

    .bg-color {
      background-color: #f3f5f9;
    }

    /* Mobile default */
    .primary-menu {
      display: none;
      flex-direction: column;
    }

    .primary-menu.is-open {
      display: flex;
    }
    .navbar-toggler {
      .hamburger {
        background: #ffffff;
        &::before {
          background: #ffffff;
        }
        &::after {
          background: #ffffff;
        }
      }
      &.active {
        .hamburger {
          top: -7px;
          background: transparent !important;
          &::after {
            transform: rotate(45deg);
            top: 7px;
          }
          &::before {
            transform: rotate(-45deg);
            top: 7px;
          }
        }
      }
    }

    /* Desktop */
    @media (min-width: 1024px) {
      .nav-toggle {
        display: none;
      }

      .primary-menu {
        display: flex;
        flex-direction: row;
      }
    }

    .gradient-blur {
      position: absolute;
      inset: 0 0 auto 0;
      height: 100%;
      z-index: 5;
      pointer-events: none;
      top: 0;
    }

    .gradient-blur > div,
    .gradient-blur::before {
      position: absolute;
      inset: 0;
    }

    /* Base blur (very subtle at top) */
    .gradient-blur::before {
      content: "";
      z-index: 1;
      backdrop-filter: blur(100px);
      mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 12.5%,
        rgba(0, 0, 0, 0) 50%
      );
    }

    .gradient-blur > div {
      z-index: 2;
      backdrop-filter: blur(100px);
      mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0) 50%
      );
    }

    .dropdown {
      position: relative;

      > a {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 220px;
      padding: 0;
      display: block;
      background: #fff;
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: opacity 0.25s ease, transform 0.25s ease;
      pointer-events: none;
      border-radius: 15px;
      overflow: hidden;
      border: none;
      li {
        a {
          color: #000000 !important;
          padding: 15px 30px;
          border-bottom: 1px solid #ccc;
          width: 100%;
          transition: all ease 0.5s;
          &:hover {
            background-color: #7fbbc5;
            color: #ffffff !important;
          }
        }
        &:nth-last-child(1) {
          a {
            border-bottom: none;
          }
        }
      }
    }

    .dropdown.is-open > .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;
    }

    .slide-panel {
      position: fixed;
      inset: 0;
      z-index: 1000;
      pointer-events: none;
      overflow: hidden;

      &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.4s ease;
        backdrop-filter: blur(10px);
      }

      &__content {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        max-width: 100%;
        height: 100%;
        background: #fff;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        overflow: hidden;
      }

      &__close {
        position: absolute;
        top: 50px;
        left: 50px;
        background-color: rgb(0 0 0 / 13%);
        color: #ffffff;
        font-size: 28px;
        cursor: pointer;
        border: 1px solid rgb(255 255 255 / 11%);
        height: 50px;
        width: 50px;
        border-radius: 50px;
        -webkit-backdrop-filter: blur(60px);
        backdrop-filter: blur(60px);
        transition: transform 0.5s ease;
        z-index: 9;
        &:hover {
          transform: rotate(90deg);
        }
      }

      .swiper {
        height: auto;
        overflow: hidden;
      }
      .yacht-details {
        padding: 50px 60px;
        max-height: 64vh;
        overflow-y: scroll;

        .details-header {
          .location {
            position: relative;
            padding: 0;
            display: flex;
            img {
              width: 15px;
              margin-right: 10px;
              position: relative;
            }
            span {
              color: #898989;
              font-size: 18px;
            }
          }
          .price {
            h3,
            span {
              text-align: right;
              display: block;
            }
            span {
              color: #898989;
            }
          }
        }
        .details-content {
          .specifications {
            padding: 20px 0;
            margin: 30px 0;
            background: #f3f5f9;
            display: flex;
            justify-content: space-between;
            .specific-item {
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 0;
              position: relative;
              padding: 0 30px;
              img {
                width: 18px;
                margin-right: 10px;
                position: relative;
                top: -2px;
              }
              span {
                color: #000000;
                font-size: 15px;
              }
              &:after {
                content: "";
                width: 1px;
                height: 15px;
                background-color: #ccc;
                position: absolute;
                right: 0;
              }
              &:last-child:after {
                display: none;
              }
            }
          }
          .overview {
            margin: 30px 0;
          }
          .details-title {
            color: #000000;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
          }
          p {
            font-size: 15px;
            line-height: 30px;
            color: #000000;
          }
        }
        .inclusive-additional {
          ul {
            list-style-type: none;
            padding: 0;
            li {
              content: "";
              background-image: url(../images/check.svg);
              background-size: 5%;
              background-repeat: no-repeat;
              padding: 15px 0 15px 8%;
              background-position-y: center;
              border-bottom: 1px solid #e3e6e8;
              &:last-child {
                border-bottom: none;
              }
            }
          }
          .additional {
            ul {
              li {
                background-image: url(../images/addones.svg);
                background-size: 4.5%;
                span {
                  float: right;
                }
              }
            }
          }
        }
      }
      .slide-panel__cta {
        padding: 20px 30px;
        width: 100%;
        font-size: 13px;
        text-transform: uppercase;
        color: #ffffff;
        background: #243a47;
        text-align: center;
        background: linear-gradient(
          90deg,
          rgb(36, 58, 71) 0%,
          rgb(88, 141, 173) 100%
        );
        border: none;
        font-weight: 500;
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 18px;
          margin-right: 10px;
        }
      }

      &.is-open {
        pointer-events: auto;

        .slide-panel__overlay {
          opacity: 1;
        }

        .slide-panel__content {
          transform: translateX(0);
        }
      }
    }

    header {
      padding: 0 0 30px;
      position: fixed !important;
      width: 100%;
      left: 0;
      top: 0;
      transition: all ease 0.5s;
      .top-header {
        margin-bottom: 30px;
        .container {
          padding: 20px 0;
          border-bottom: 1px solid rgb(255 255 255 / 50%);
          p {
            margin: 0;
          }
          .top-header-container {
            display: flex;
            justify-content: space-between;
            img {
              margin-right: 10px;
              width: 18px;
              top: -3px;
              position: relative;
              filter: brightness(10);
            }
            p {
              color: #ffffff;
              font-size: 16px;
            }
            .email-phone {
              display: flex;
              justify-content: flex-end;
              gap: 50px;
              ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                  float: left;
                  margin-left: 50px;
                  a {
                    color: #ffffff;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .navbar-grid {
        padding: 0;
        .logo {
          img {
            width: 100%;
            max-height: 80px;
            filter: brightness(10);
          }
        }
        nav {
          .primary-menu {
            li {
              a {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                color: #ffffff;
              }
              &.dropdown {
                a {
                  img {
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
      &.sticky-header {
        .top-header {
          .container {
            border-bottom: 1px solid rgb(0 0 0 / 15%);
            .top-header-container {
              p,
              .email-phone ul li a {
                color: #243a47 !important;
              }
              img {
                filter: brightness() !important;
              }
            }
          }
        }
        .navbar-grid {
          .logo {
            img {
              filter: brightness();
            }
          }
          .navbar-toggler {
            .hamburger {
              background: #000000;
              &::before {
                background: #000000;
              }
              &::after {
                background: #000000;
              }
            }
          }
        }
        .navbar-grid {
          nav {
            .primary-menu {
              li {
                a {
                  color: #243a47;
                  img {
                    filter: invert(1);
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
        .btn {
          background-color: #4b8087;
          color: #ffffff;
        }
      }
    }
    section {
      padding: 80px 0;
      &.inner-banner {
        min-height: 55vh;
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: end;
        position: relative;
        h1 {
          font-family: "Bungee", sans-serif;
          width: 33%;
          text-align: center;
          margin: 0 auto;
          color: #ffffff;
          z-index: 5;
          position: relative;
        }
      }
      .meta-title {
        font-size: 20px;
        margin-bottom: 30px;
        display: block;
      }
      .section-title {
        font-family: "Bungee", sans-serif;
        font-size: 40px;
        margin-bottom: 20px;
        strong {
          color: #7fbbc5;
          font-weight: 500;
        }
      }
      p {
        color: #243a47;
        font-size: 25px;
        line-height: 40px;
      }
      .yacht-list-wrapper {
        margin-top: 100px;
        .yacht-card {
          background-color: #ffffff;
          padding: 20px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          .yacht-image {
            height: 225px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              transition: all ease 0.5s;
            }
            .location {
              position: absolute;
              left: 0;
              bottom: 0;
              padding: 20px;
              display: flex;
              flex-direction: row;
              width: 100%;
              z-index: 2;
              img {
                width: 15px;
                margin-right: 10px;
                filter: brightness(10);
                position: relative;
                top: 3px;
              }
              span {
                color: #ffffff;
                font-size: 16px;
              }
            }
            &:before {
              content: "";
              -webkit-backdrop-filter: blur(100px);
              backdrop-filter: blur(100px);
              -webkit-mask: linear-gradient(
                to bottom,
                rgb(0, 0, 0) 0%,
                rgb(0, 0, 0) 12.5%,
                rgba(0, 0, 0, 0) 50%
              );
              mask: linear-gradient(
                to top,
                rgb(0, 0, 0) 0%,
                rgb(0, 0, 0) 12.5%,
                rgba(0, 0, 0, 0) 50%
              );
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 1;
              height: 100%;
            }
          }
          .yacht-details {
            .yacht-name {
              font-size: 20px;
              font-weight: 600;
              color: #212529;
              margin: 20px 0;
            }
            .specifications {
              .specific-item {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                position: relative;
                img {
                  width: 18px;
                  margin-right: 10px;
                }
                span {
                  color: #000000;
                  font-size: 13px;
                }
                &:after {
                  content: "";
                  width: 1px;
                  height: 15px;
                  background-color: #ccc;
                  position: absolute;
                  right: 0;
                }
                &:last-child:after {
                  display: none;
                }
              }
            }
          }
          .card-footer {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #e3e6e8;
            .price {
              h3 {
                font-size: 20px;
                color: #243a47;
                margin: 0;
              }
              span {
                color: #898989;
                font-size: 15px;
              }
            }
            .button-wrap {
              button {
                padding: 15px 30px;
                width: 100%;
                font-size: 13px;
                text-transform: uppercase;
                color: #ffffff;
                background: #243a47;
                text-align: center;
                background: linear-gradient(
                  90deg,
                  rgba(36, 58, 71, 1) 0%,
                  rgba(88, 141, 173, 1) 100%
                );
                border-radius: 50px;
                border: none;
                font-weight: 500;
                transition: all ease 0.5s;
                &:hover {
                  color: #ffffff !important;
                }
              }
            }
          }
          &:hover {
            .yacht-image {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}
